.mod {
    height: auto;
    width: auto;
    padding: 50px 20px 50px 20px;
    text-align: center;
    background-color: #171717;
}

.bg-darkt {
    background-color: #171717;
}


.h1-text {
    font-weight: bold;
}

.caro img {
    padding: 50px;
    height: 500px;
    width: 100px;
}

.abt-desc {
    padding: 200px 20px 50px 20px;
}

.abt-me {
    padding: 50px 20px 50px 20px;
}

.project {
    padding: 80px 20px 50px 20px;
}

.cardt {
    padding: 0 0 0 70px;
}

.card {
    margin-top: 20px;
}

.sosmed {
    padding-top: 80px;
}

.sosmed img {
    height: 64px;
    width: 64px;
}